html,
body {
  height: 100vh;
  overflow: hidden;
  --uno: bg-base font-sans;
}

#__nuxt {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  color-scheme: dark;
}

/* Webkit浏览器 */
::-webkit-scrollbar {
  display: none;
}
/* Firefox浏览器 */
/* scrollbar-width: none;
-ms-overflow-style: none; */